# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*
.venv

# Logs
logs/
*.log

# Data files
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/